<% content_for :title, "Please Answer" %>

<div id="sideCol">
  <p id="notice"><%= notice %></p>
</div>

<div id="mainCol">
  <div class="animated fadeInDown">
  	<div id="intro_box">
  		<%= image_tag("logo.png", class:"logo") %>
      <h2><%= yield(:title) %></h2>
    </div>
    <div id="question_box">
      <%= form_for([@question_group, @answer_group_builder]) do |f| %>
        <%- @answer_group_builder.answers.each do |answer| %>
          <%= f.fields_for("#{answer.question.id}", answer) do |answer_form| %>
            <%= render_answer_form_helper(answer, answer_form) %>
          <% end %>
          <br>
        <% end %>
        <%= f.submit "Save" %>
      <% end %>
    </div>
  </div>
</div>
