<% content_for :title, "Question Answers" %>

<div id="sideCol">
  <p id="notice"><%= notice %></p>
</div>

<div id="mainCol">
	<div class="animated fadeInDown">
		<div id="intro_box">
	    <%= image_tag("logo.png", class:"logo") %>
	    <h2><%= yield(:title) %></h2>
	  </div>
		<div id="center_box">
		  <%= render partial: "question", collection: @questions %>
		  <%= link_to "New Question", new_question_group_question_path(@question_group), class:"btn btn-white" %>
		</div>
	</div>
</div>
