<% content_for :title, "Log In" %>

<div id="sideCol">
</div>

<div id="mainCol">
	<div class="animated fadeInDown">
		<div id="intro_box">
			<%= image_tag("logo.png", class:"logo") %>
			<p>
				Welcome to PMP
			</p>
			<p>
				An app for Doctors
			</p>
	    <h2><%= yield(:title) %></h2>
		</div>
    <p id="notice"><%= notice %></p>
		<div id="center_box">
			<%= form_tag(:action => 'attempt_login', :class => "m-t") do %>
				<div class="form-group">
					<td><%= text_field_tag(:name, nil, :placeholder => 'Username', :onclick => 'if($(this).val()=="Username"){$(this).val("");};') %></td>
				</div><br>
				<div class="form-group">
					<td><%= password_field_tag(:password, nil, :placeholder => 'Password', :onclick => 'if($(this).val()=="Username"){$(this).val("");};') %></td>
				</div><br>
				<%= submit_tag("Log In", :class => "btn btn-primary block full-width m-b") %>
			</form>
			<p><%= link_to("Create a Doctor account", {:controller => 'doctors', :action => 'new'} ) %><% end %></p>
		</div>
	</div>
</div>
