<% content_for :title, "Queston Groups" %>

<div id="sideCol">
  <p id="notice"><%= notice %></p>
</div>

<div id="mainCol">
  <div class="animated fadeInDown">
  	<div id="intro_box">
      <%= image_tag("logo.png", class:"logo") %>
      <h2><%= yield(:title) %></h2>
    </div>
	  <div id="center_box">
      <%= render partial: "question_group", collection: @question_groups %>
      <% if can_administer? %>
        <%= link_to "New Group", new_question_group_path, class:"btn btn-white" %>
      <% end %>
    </div>
  </div>
</div>
