<% content_for :title, "New Doctor" %>

<div id="sideCol">
  <p id="notice"><%= notice %></p>
</div>

<div id="mainCol">
	<div class="animated fadeInDown">
		<div id="intro_box">
			<%= image_tag("logo.png", class:"logo") %>
      <h2><%= yield(:title) %></h2>
		</div>
	  <div id="center_box">
	    <%= render 'form' %>
			<%= link_to 'Cancel', doctors_path%>
	  </div>
	</div>
</div>
