<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @doctor.email %>
</p>

<p>
  <strong>Patients:</strong>
  <% @doctor.patients.each do |patient| %>
    <%= patient.name %><%= "," unless patient == @doctor.patients.last %>
  <% end %>
</p>

<%= link_to 'Create Patient', new_patient_path(@doctor) %>
<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
