<% content_for :title, "Doctor WorkStation" %>

<div id="sideCol">
  <p id="notice"><%= notice %></p>
  <div>
    <h2>Name: <%= @doctor.name %> </h2>
    <h2>Email: <%= @doctor.email %> </h2>
    <%= link_to 'Edit', edit_doctor_path(@doctor) %>
  </div>
  <br>
  <h3>Patients:</h3>
  <div id="doctorList">
    <p>
      <% @doctor.patients.each do |patient| %>
        <%= patient.name %><%= tag("br") unless patient == @doctor.patients.last %>
      <% end %>
    </p>
    <%= link_to 'Create Patient', new_patient_path(:doctor_id => @doctor.id) %>
  </div>
</div>

<div id="mainCol">
	<div class="animated fadeInDown">
		<div id="intro_box">
			<%= image_tag("logo.png", class:"logo") %>
	    <h2><%= yield(:title) %></h2>
		</div>
    <%= link_to 'List of Doctors', doctors_path %>
  </div>
</div>
